{% extends "base.html" %}
{% block content %}
    <h3 class="title">
        {% block title %}
            Wähler
        {% endblock title %}
    </h3>
    <div class="block is-clearfix">
        <a class="button is-link is-pulled-right"
           href="{{ url_for("voters.create") }}">Neuer Wähler</a>
    </div>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Stimmen</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
                <tr>
                    <th>{{ voter.id }}</th>
                    <td>
                        {% if voter.name %}
                            {{ voter.name }}
                        {% else %}
                            <em>Anonym</em>
                        {% endif %}
                    </td>
                    <td>{{ voter.weight }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Keine Wähler vorhanden.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
